.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(rgb(253, 44, 56) 3.3%, rgb(176, 2, 12));
    padding: 10px;
    height: 20vh;

}

.linkStyles {
    display: flex;
    background: blue;
    color: white;
    padding: 30px;
    margin: 20px;
    height: 5vh;
    width: 10vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-style: solid;
    border-color: white;
}

.pokeball-left {
    margin-right: auto;
}

.pokeball-right {
    margin-left: auto;
}