.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
    padding: 10px;
}

.linkStyles {
    background: blue;
    color: white;
    padding: 30px;
    margin: 20px;
}