/* .box {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    position: relative;
    animation: boxx 5s infinite
}

@keyframes boxx {
    0% {top: 0px; left: 0px}
    25% { top: 0px
    
    ;}
    100% {top: 110px} 
}  */